.option {
  color: black;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 16px;

  width: 100%;
  align-items: baseline;
}

.page-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

table {
  background-color: white;
  color: black;
  text-align: left;
  table-layout: fixed;

  th {
    font-weight: 700;
    width: max-content;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid grey;
    transition: background-color 0.3s ease;
  }

  th:hover {
    background-color: rgb(152, 152, 152, 0.2);
  }

  tr {
    border-bottom: 1px solid grey;
  }

  td {
    padding: 10px;
  }
}
