:root {
  --grid-size: 80px;
  --grid-gap: 15px;
  --border-color: black;
  --bg-color: white;
  --padding: 12px;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background-color: white;
  padding: 20px;

  grid-template-areas:
    'item1 item2 item3'
    'item4 empty empty1'
    'item6 item7 item8';
}

.activated {
  background-color: green;
}

.grid-item {
  border: 1px solid black;
  height: 70px;
  width: 70px;
}

.grid-item:nth-child(1) {
  grid-area: item1;
}
.grid-item:nth-child(2) {
  grid-area: item2;
}
.grid-item:nth-child(3) {
  grid-area: item3;
}
.grid-item:nth-child(4) {
  grid-area: item4;
}
.empty1 {
  grid-area: empty1;
}
.grid-item:nth-child(6) {
  grid-area: item6;
}
.grid-item:nth-child(7) {
  grid-area: item7;
}
.grid-item:nth-child(8) {
  grid-area: item8;
}

.empty {
  grid-area: empty;
}
